header{
    visibility: hidden;
}

section{
    background-color: black;
}

h1{
    text-align: center;
}

.st-emotion-cache-1kyxreq{
    align-items: center;
    justify-content: center;
}

.st-emotion-cache-1jocyny{
    color: white;
}

.st-emotion-cache-1jzia57{
    color: white;
}