header{
    visibility: hidden;
}

section{
    background-color: black;
}

h1{
    text-align: center;
}

.st-emotion-cache-1kyxreq{
    align-items: center;
    justify-content: center;
}

.st-emotion-cache-1jocyny{
    color: white;
}


#por-transportadora{
    color: white;
}

#faturamento-x-percentual-frete{
    color: white;
}

#faturamento-por-estado{
    color: white;
}

#detalhamento-geral{
    color: white;
}

#f92d01d9{
    color: white;
}

#frete-por-unidade{
    color: white;
}